.Cancel-Tickets-Button {
  color: #ac9ed9;
  border: 1.5px solid #ac9ed9;
}

.Cancel-Tickets-Button:hover {
  background-color: #ac9ed9;
  color: #0b0815;
}

.Cancel-Tickets-Text {
  margin: 1.5rem;
}

.Input-Fields textarea {
  resize: none;
  overflow: hidden;
}

.Input-Fields .form-label {
  text-align: left;
  display: block;
  margin-bottom: 8px;
}