.Cancel-Tickets {
  text-align: center;
}

.Custom-Input::placeholder {
  font-size: 0.9rem;
}

.Custom-Input {
  font-size: 0.9rem;
}

.Cancel-Tickets-Text {
  margin: 1.5rem;
}

.Input-Fields textarea {
  resize: none;
  overflow: hidden;
}

.Input-Fields .form-label {
  text-align: left;
  display: block;
  margin-bottom: 8px;
  display: flex;

}

@media (min-width: 460px) {
  .Input-Fields {
    width: 100%;
    /* Ändra detta värde efter behov */
  }

  .Input-Fields .form-control {
    width: 22rem;
  }
}