.Cancel-Tickets {
  text-align: center;
  
}



.Cancel-Tickets-Text {
  margin: 1.5rem;
}

.Input-Fields textarea {
  resize: none;
  overflow: hidden;
}

.Input-Fields .form-label {
  text-align: left;
  display: block;
  margin-bottom: 8px;
}