.navbar-bottom {
  display: flex;
  height: 8vh;
  flex-direction: row;
  justify-content: space-around;
  color: #efecf8;

  /* Hides navbar when screen size is bigger than 767px */
  @media only screen and (min-width: 768px){
    display: none;
  }
}
.menu-button {
  border: 0;
  background-color: #702c53;
  color: #efecf8;
}







