
@import "./bootstrap-overrides.scss";

@import "../node_modules/bootstrap/scss/bootstrap";


@import "./fonts.scss";
@import "../src/pages/HomePage/ScreeningCard/screening-card.scss";
@import "../src/pages/Movies/movie-card.scss";
@import "../src/pages/Admin/admin.scss";


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-section {
  width: 100%;
  max-width: 1024px;
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.qr-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 80%;
  color: $secondary;
}
.qr-modal-backdrop {
  background-color: $secondary;
}
.qr-modal-content {
  background-color: $secondary;
  color: $secondary;
}