.body {
  padding-top: 145px;
}
.booking-header {
  height: 150px;
  width: 100vw;
  background-color: #ac9ed9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.header-section {
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}
