/* LoginModal.css */
.register-link {
  color: #ffffff;
  cursor: pointer;
 
}

.register-link:hover {
  color: #007bff;
}

.login-button {
  width: 30%;
  float: right;
}

/* Remove the border or shadow under the Modal.Header */
.modal-header {
  border-bottom: none;
  /* Optional: reduce padding if needed */
  padding-bottom: 0;
}

/* Adjust padding of the Modal.Body to bring inputs closer */
.modal-body {
  padding-top: 10px;
  /* You can adjust this value */
}









