.cancel-ticket-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-text,
.tickets-text {
  margin-bottom: 20px;
}

/* New styles for ticket display */
.ticket-wrapper {
  margin-bottom: 20px;
  background-color: #17102c;
  border-radius: 10px;
}

/* Flex container for ticket cards */
.ticket-container {
  display: flex; /* Use flex to arrange ticket cards */
  flex-wrap: wrap; /* Allow wrapping of items */
  justify-content: center; /* Center items horizontally */
  gap: 20px; /* Space between cards */
}

/* Individual ticket card styles */
.ticket {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 1rem;
  flex: 1 1 300px; /* Allow flex growth and shrinkage, with a base width of 300px */
  max-width: 400px; /* Maximum width for each card */
}

.ticket-img img {
  width: 11rem;
  height: auto;
  object-fit: cover;
}

.ticket-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ticket-info h5 {
  margin: 0;
}

.ticket-info p {
  margin: 5px 0 0;
}

.cancel-ticket-button {
  color: #ac9ed9;
  background-color: #0b0815;
  border: 1.5px solid #ac9ed9;
  flex-shrink: 0;
  margin: 0;
  margin-top: 1rem;
}

.cancel-ticket-button:hover {
  border: 1.5px solid #ac9ed9;
  color: #0b0815;
  background-color: #ac9ed9;
}

/* Media query for mobile displays */
@media (max-width: 768px) {
  .ticket-container {
    flex-direction: column; /* Stack cards vertically on mobile */
    align-items: center; /* Center items on mobile */
  }
}
