.Days {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
}

.Movie-calendar {
  display: flex;
}

.Movies img {
  width: 120px;
}

.Movie-Title h4 {
  font-size: 1.3rem;
  margin-top: 1rem;
}

.Movie-Description p {
  font-size: 1rem;
}

.Row {
  background-color: #100b1e;
  border-radius: 10px;
  padding: 5px;
}

label {
  padding: 0.5rem;
}

.accordion-button {
  transition: background-color 0.3s ease;
}

select {
  padding: 0.1rem;
  margin-left: 0.3rem;
  background-color: #1e1637;
  color: rgb(231, 231, 231);
  border-radius: 5px;
  border: 1px black solid;
}

.Movie-Button {
  color: #ac9ed9;
  background-color: #0b0815;
  border: 1.5px solid #ac9ed9;
  flex-shrink: 0;
  font-size: 0.8rem;
}

.Movie-Button:hover {
  border: 1.5px solid #ac9ed9;
  color: #0b0815;
  background-color: #ac9ed9;
}

.Movie-Time p {
  font-size: 1.4rem;
}